.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/

experimental-sociology/*
computational-social-sciences/*
kk/*

**/Übungsblätter/
/experimental-sociology
experimental-sociology/
docs/experimental-sociology/

course-assessment/not published/
docs/course-assessment/not published/