#sidebar {
  position: fixed;
  right: 20px; /* Abstand von der rechten Seite */
  top: 100px; /* Abstand von oben */
  width: 250px; /* Breite des Blocks */
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #e8bff7;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(220, 2, 191, 0.1);
}

#custom-block {
  background-color: rgba(150, 123, 182, 0.1);
  padding: 15px;
  border: 1px solid #e8bff7;
  border-left: 4px solid #967bb6; /* Add this line for the left border */
  border-radius: 8px;
  margin-bottom: 15px;
}

#toc {
  margin-top: 15px; /* Creates space between the block and the ToC */
}

/* Adjust the width of the content area */
.content {
  width: 85%;  /* Adjust the percentage to make the content area broader */
  margin-left: 5%;  /* This will shift the main content to the right */
}

/* Adjust the width of the Table of Contents */
#toc {
  width: 15%;  /* Reduce the ToC width so that it takes up less space */
  margin-left: 0;  /* Align the ToC to the left */
}

/* Change bold text color to lavender */
strong, b {
  color: #967bb6; /* Lavender color */
}

/* Change header colors to darker lavender */
h1, h2, h3, h4, h5, h6 {
  color: #76448a; /* Darker lavender */
}


.student-exercise {
  background-color: rgba(216, 179, 230, 0.3); /* Helles Lila mit 60% Deckkraft */
  padding: 15px;
  border: 2px solid rgba(168, 95, 197, 0.8); /* Dunkleres Lila mit 80% Deckkraft */
  border-radius: 8px;
  margin-bottom: 15px;
  color: rgba(137, 104, 205, 0.7)
}

.student-exercise h2 {
  color: rgba(168, 95, 197, 0.8); /* 100% Deckkraft für bessere Lesbarkeit */
}

/* Change hover background color */
table.hover tbody tr:hover {
  background-color: #ecc3c8; /* Light yellow */
}

/* Reduce spacing between bullet points */
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
}

ul li {
  margin-bottom: 2px; /* Adjust as needed */
}

/* Weniger Zeilenabstand für Bulletpoints in Quarto-Tabellen */
table td ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1rem; /* Optional: Beibehaltung der Einrückung */
}

table td li {
  line-height: 1.2; /* Verringert den Zeilenabstand */
}


/* Optional: inline code styling too */
code {
  background-color: rgba(240, 128, 128, 0.2); /* lighter for inline code */
  padding: 2px 4px;
  border-radius: 4px;
}